body {
  background-image: url(pics/black-1072366_1920.jpg);
  font-family: sans-serif;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}



.header {
  background-color: #e63946;
  color: #f1faee;
  text-align: center;


}


.header a h1 {
  text-decoration: none;
  color: #f1faee;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  text-decoration: underline;

}

header a:hover {
  text-decoration: underline;
}






.swiper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}

.swiper-slide img {
  display: block;
  width: 100%;
}


h1,
h2 {
  padding-top: 5%;
  text-align: center;
  color: #e63946;
}



p {
  color: #e63946;
}

table {
  padding-top: 5%;
  align-items: center;
  padding-left: 35%;
  color: #f1faee;
  border-spacing: 0px;
}





th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e63946;
  color: #f1faee;
  text-align: center;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}







.container-boton:hover {
  transform: scale(1.9);
  transition: 0.6s;
}

.boton {
  width: 90px;
  transition: ease 1s;
}


.container-boton {
  padding: 1%;
  border-radius: 50%;
  float: right;
  margin: 1% transition: ease 0.6s;

}

.container-boton:hover {
  transform: scale(1.9);
  transition: 0.6s;
}

.boton {
  width: 90px;
  transition: ease 1s;
  background-color: #fff;
  border-radius: 50%;
}

footer {
  background-color: #e63946;
  color: #f1faee;
  text-align: center;
  padding: 1px;
}

.inicio a {



  padding: 40px;
  position: relative;
  display: inline-block;
  padding: 20px 80px;
  margin-left: 530px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

.inicio a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

}

.inicio a:nth-child(1) {
  filter: hue-rotate(270deg);
}

.inicio a:nth-child(2) {
  filter: hue-rotate(110deg);
}

.inicio a span {
  position: absolute;
  display: block;
}

.inicio a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.inicio a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.inicio a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.inicio a span:nth-child(4) {
  bottom: -100;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f1faee);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}